# Node
node_modules/
npm-debug.log*

# Build
dist/
build/

# Vite
.vite/

# CRA
.env.local
.env.development.local
.env.test.local
.env.production.local

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# Mac/Linux
*.swp
