* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dadada;
}

#app #frame {
    width: 425px;
    height: 90vh;
    border-radius: 25px;
    box-shadow: 0 0 20px hsla(0, 0%, 0%, .2);
    background: #fff;
    padding: 40px 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}   

#app #frame #input-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

#app #frame #message {
    height: 80vh;
    
}

#app #frame #message .message-box-bot {
    max-width: fit-content;
    padding: 20px;
    background: #747384;
    color: #fff;
    border-radius: 17px 17px 17px 0;
    box-shadow: 0 0 20px hsla(0, 0%, 0%, .2);
}

#app #frame #message .message-box-user {
    max-width: fit-content;
    padding: 20px;
    background: #7056B2;
    color: #fff;
    border-radius: 17px 17px 17px 0;
    box-shadow: 0 0 20px hsla(0, 0%, 0%, .2);
}

.input {
    width: 315px;
    height: 50px;
    padding: 15px;
    border-radius: 17px;
    border: 1px solid hsla(0, 0%, 0%, .4);
}

button {
    width: 50px;
    height: 50px;
    border-radius: 17px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: hsl(257, 37%, 52%);
}